.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    align-items: center;
}

.component {
    display: flex;
    border: 1px solid;
    border-radius: 9px;
    width: 555px;
    padding: 10px;
}

.name {
    width: 190px;
}

.quantity {
    width: 70px;
    margin-left: 15px;
}

.price {
    width: 70px;
    margin-left: 15px;
}