.orders {
    display: flex;
    width: 100%;
    padding: 10px;

    span {
        font-size: 15px;
    }
}

.containerItem {
    display: flex;
    flex-direction: column;
    gap: 15px;
    // justify-content: center;
    align-items: center;
}

.component {
    display: flex;
    width: 750px;
    height: 150px;
    gap: 10px;
    background-color: darken(rgb(219, 237, 237), 5);
    border: 1px solid;
    border-radius: 9px;
    align-items: center;
    padding: 10px;
    // justify-self: center;
}

.component2 {
    display: flex;
    width: 550px;
    height: 150px;
    gap: 10px;
    background-color: darken(rgb(219, 237, 237), 5);
    border: 1px solid;
    border-radius: 9px;
    align-items: center;
    padding: 10px;
    // justify-self: center;
}

.name {
    width: 200px;
}

.type {
    width: 150px;
}

.status {
    width: 170px;
}

.sum {
    width: 90px;
}

.filters {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    justify-content: center;
}

.technology {
    display: flex;
    flex-direction: column;
}

.recipe {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
    // margin-top: 25px;
}

.recipeModal {
    display: flex;
    flex-direction: column;
}