.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.component {
    display: flex;
    border: 1px solid;
    border-radius: 9px;
    width: 555px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
    align-items: center;
    background-color: darken(rgb(219, 237, 237), 5);

}

.name {
    width: 190px;
}

.date {
    width: 110px;
    // margin-left: 15px;
}

.type {
    width: 130px;
}