.container {
    display: flex;
    max-height: 67px;
    // width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    // background-color: rgb(219, 237, 237);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid;
}


.logo {
    font-size: 37px;
    margin: 0;
    color: rgb(118, 118, 118);
}

.link {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.dataBlock {
    display: flex;
    font-size: 21px;
}

.adminPanel {
    color: black;

    &:hover,
    &:active,
    &:focus,
    &:visited {
        color: black;
    }
}

.spinButton {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

:global(body.spinning) {
    animation: spin 2s linear infinite;
}

:global(body.spinning *) {
    animation: spin 2s linear infinite;
    transform-origin: center center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

// Добавляем эффект 3D при вращении
:global(body.spinning) {
    perspective: 1000px;
    transform-style: preserve-3d;
}

:global(body.spinning *) {
    transform-style: preserve-3d;
    backface-visibility: visible;
}