.overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 9px;
}
.select {
    font-size: 25px;
    margin-top: 0;
    align-self: center;
}

button {
    background-color: transparent;
    border: 0;
    &:hover {
        cursor: pointer;
    }
    margin-left: auto;
    margin-bottom: 0;
}
.buttonControl {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.userData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    margin-top: 15px;
}
.exit {
    align-self: center;
    margin: 0;
    margin-top: auto;
    margin-bottom: 15px;
    background-color: rgb(203, 55, 55);
    padding: 5px;
    border-radius: 9px;
    color: rgb(22, 19, 19);
    font-size: 11px;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}