.containerHome {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 11px;
    // margin: 0;
    justify-content: center;
    // background-color: rgb(248, 244, 244);
    height: 100%;
    margin-bottom: 15px;
}

.filters {
    display: grid;
    grid-template-columns: 11fr 1fr;
    align-items: center;
    background-color: white;

    p {
        font-size: 14px;
        justify-self: center;
    }
}